In [1]:
import sqlite3 as sql
import pandas as pd

try:
    conn = sql.connect('database.sqlite')
    # print(conn)
except sql.Error as err:
    print('ERROR!' + err)

In [57]:
pd.read_sql(
    """
        select name
        from sqlite_master
        where type='table';
    """
    , conn)

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [58]:
pd.read_sql(
    """
        select name
        from Country;
    """
    , conn)

           name
0       Belgium
1       England
2        France
3       Germany
4         Italy
5   Netherlands
6        Poland
7      Portugal
8      Scotland
9         Spain
10  Switzerland

In [59]:
pd.read_sql(
    """
        select League.name as league, Country.name as country
        from League
        left join Country
        on League.country_id = Country.id
        ;
    """
    , conn)

                      league      country
0     Belgium Jupiler League      Belgium
1     England Premier League      England
2             France Ligue 1       France
3      Germany 1. Bundesliga      Germany
4              Italy Serie A        Italy
5     Netherlands Eredivisie  Netherlands
6         Poland Ekstraklasa       Poland
7   Portugal Liga ZON Sagres     Portugal
8    Scotland Premier League     Scotland
9            Spain LIGA BBVA        Spain
10  Switzerland Super League  Switzerland

In [60]:
pd.read_sql(
    """
        select team_long_name as name
        from Team
        order by name
        ;
    """
    , conn)

                         name
0        1. FC Kaiserslautern
1                  1. FC Köln
2              1. FC Nürnberg
3             1. FSV Mainz 05
4                  AC Ajaccio
..                        ...
294      Xerez Club Deportivo
295            Zagłębie Lubin
296         Zawisza Bydgoszcz
297  Évian Thonon Gaillard FC
298             Śląsk Wrocław

[299 rows x 1 columns]

In [36]:
pd.read_sql(
    """
        select Country.name as country ,League.name as league, Match.season,Match.home_team_goal, Match.away_team_goal, Match.date
        from Match
        inner join Country , League
        on Match.country_id = Country.id and Country.name='Spain' and League.id=Match.league_id
        ;
    """
    , conn)

,country,league,season,home_team_goal,away_team_goal,date
0,Spain,Spain LIGA BBVA,2008/2009,3,0,2008-08-30 00:00:00
1,Spain,Spain LIGA BBVA,2008/2009,1,1,2008-08-31 00:00:00
2,Spain,Spain LIGA BBVA,2008/2009,2,1,2008-08-31 00:00:00
3,Spain,Spain LIGA BBVA,2008/2009,1,0,2008-08-31 00:00:00
4,Spain,Spain LIGA BBVA,2008/2009,1,1,2008-08-31 00:00:00
...,...,...,...,...,...,...
3035,Spain,Spain LIGA BBVA,2015/2016,2,1,2015-10-25 00:00:00
3036,Spain,Spain LIGA BBVA,2015/2016,2,0,2015-10-24 00:00:00
3037,Spain,Spain LIGA BBVA,2015/2016,3,0,2015-10-26 00:00:00
3038,Spain,Spain LIGA BBVA,2015/2016,1,1,2015-10-24 00:00:00
3039,Spain,Spain LIGA BBVA,2015/2016,3,0,2015-10-23 00:00:00

In [61]:
pd.read_sql(
    """
        select Country.name as country, League.name as league, Match.season, count(distinct(Match.home_team_api_id))
                ,avg(Match.home_team_goal), avg(Match.away_team_goal), avg(abs(Match.home_team_goal - Match.away_team_goal))
                ,avg(Match.home_team_goal + Match.away_team_goal), sum(Match.home_team_goal + Match.away_team_goal)
        from Match
        inner join Country , League
        on Match.country_id = Country.id and League.id=Match.league_id
        where Country.name='Spain' or Country.name='Germany' or Country.name='France' or Country.name='Italy' or Country.name='England'

        group by Country.name , League.name ,Match.season
        ;
    """
    , conn)

,country,league,season,count(distinct(Match.home_team_api_id)),avg(Match.home_team_goal),avg(Match.away_team_goal),avg(abs(Match.home_team_goal - Match.away_team_goal)),avg(Match.home_team_goal + Match.away_team_goal),sum(Match.home_team_goal + Match.away_team_goal)
0,England,England Premier League,2008/2009,20,1.400000,1.078947,1.305263,2.478947,942
1,England,England Premier League,2009/2010,20,1.697368,1.073684,1.471053,2.771053,1053
2,England,England Premier League,2010/2011,20,1.623684,1.173684,1.276316,2.797368,1063
3,England,England Premier League,2011/2012,20,1.589474,1.215789,1.442105,2.805263,1066
4,England,England Premier League,2012/2013,20,1.557895,1.239474,1.250000,2.797368,1063
5,England,England Premier League,2013/2014,20,1.573684,1.194737,1.515789,2.768421,1052
6,England,England Premier League,2014/2015,20,1.473684,1.092105,1.292105,2.565789,975
7,England,England Premier League,2015/2016,20,1.492105,1.207895,1.289474,2.700000,1026
8,France,France Ligue 1,2008/2009,20,1.286842,0.971053,1.094737,2.257895,858
9,France,France Ligue 1,2009/2010,20,1.389474,1.021053,1.294737,2.410526,916
10,France,France Ligue 1,2010/2011,20,1.342105,1.000000,1.105263,2.342105,890
11,France,France Ligue 1,2011/2012,20,1.473684,1.042105,1.184211,2.515789,956
12,France,France Ligue 1,2012/2013,20,1.468421,1.076316,1.239474,2.544737,967
13,France,France Ligue 1,2013/2014,20,1.415789,1.039474,1.223684,2.455263,933
14,France,France Ligue 1,2014/2015,20,1.410526,1.081579,1.313158,2.492105,947
15,France,France Ligue 1,2015/2016,20,1.436842,1.089474,1.331579,2.526316,960
16,Germany,Germany 1. Bundesliga,2008/2009,18,1.699346,1.222222,1.431373,2.921569,894
17,Germany,Germany 1. Bundesliga,2009/2010,18,1.513072,1.316993,1.346405,2.830065,866
18,Germany,Germany 1. Bundesliga,2010/2011,18,1.647059,1.274510,1.490196,2.921569,894
19,Germany,Germany 1. Bundesliga,2011/2012,18,1.660131,1.199346,1.480392,2.859477,875
20,Germany,Germany 1. Bundesliga,2012/2013,18,1.591503,1.343137,1.431373,2.934641,898
21,Germany,Germany 1. Bundesliga,2013/2014,18,1.748366,1.411765,1.598039,3.160131,967
22,Germany,Germany 1. Bundesliga,2014/2015,18,1.588235,1.166667,1.343137,2.754902,843
23,Germany,Germany 1. Bundesliga,2015/2016,18,1.565359,1.264706,1.457516,2.830065,866
24,Italy,Italy Serie A,2008/2009,20,1.521053,1.078947,1.284211,2.600000,988
25,Italy,Italy Serie A,2009/2010,20,1.542105,1.068421,1.168421,2.610526,992
26,Italy,Italy Serie A,2010/2011,20,1.431579,1.081579,1.213158,2.513158,955
27,Italy,Italy Serie A,2011/2012,20,1.511173,1.072626,1.276536,2.583799,925
28,Italy,Italy Serie A,2012/2013,20,1.494737,1.144737,1.313158,2.639474,1003
29,Italy,Italy Serie A,2013/2014,20,1.536842,1.186842,1.350000,2.723684,1035
30,Italy,Italy Serie A,2014/2015,20,1.498681,1.187335,1.187335,2.686016,1018
31,Italy,Italy Serie A,2015/2016,20,1.471053,1.105263,1.302632,2.576316,979
32,Spain,Spain LIGA BBVA,2008/2009,20,1.660526,1.236842,1.381579,2.897368,1101
33,Spain,Spain LIGA BBVA,2009/2010,20,1.600000,1.113158,1.386842,2.713158,1031
34,Spain,Spain LIGA BBVA,2010/2011,20,1.636842,1.105263,1.473684,2.742105,1042
35,Spain,Spain LIGA BBVA,2011/2012,20,1.678947,1.084211,1.473684,2.763158,1050
36,Spain,Spain LIGA BBVA,2012/2013,20,1.686842,1.184211,1.428947,2.871053,1091
37,Spain,Spain LIGA BBVA,2013/2014,20,1.631579,1.118421,1.497368,2.750000,1045
38,Spain,Spain LIGA BBVA,2014/2015,20,1.536842,1.118421,1.481579,2.655263,1009
39,Spain,Spain LIGA BBVA,2015/2016,20,1.618421,1.126316,1.502632,2.744737,1043